%no-protection
Key-Type: RSA
Key-Length: 4096
Key-Usage: cert,sign
Subkey-Type: RSA
Subkey-Length: 4096
Subkey-Usage: encrypt
Name-Real: YOUR NAME
Name-Email: YOUR EMAIL@example.com
Expire-Date: 0
%commit
